<table>

  <tr>
    <th *ngIf="currentUser.squadron=='store1'">הזמן</th>
    <th *ngIf="currentUser.squadron=='store1'">כמות להזמנה</th>
    <th>שם מוצר</th>
    <th>קטגוריה</th>
    <th>תאריך הוספה</th>
    <th>מק"ט</th>
    <th>כמות</th>
    <th *ngIf="currentUser.squadron!='store1'">מחיקה</th>
  </tr>

  <tr *ngFor="let i of orderedItems">

    <td *ngIf="currentUser.squadron=='store1'">
      <input type="checkbox" name="vehicle" value="i._id">
    </td>

    <td  *ngIf="currentUser.squadron=='store1'">
      <select *ngIf="i.itemCount>0" name="itemCount">
        <option *ngFor="let n of getArrayOfNumbers(i.itemCount)" value="{{n}}">{{n}}
        </option>
      </select>
    </td>

    <td>{{i.itemName}}</td>
    <td>{{i.itemCategory}}</td>
    <td>{{i.dateAdded|date:'dd/MM/yyyy'}}</td>
    <td>{{i.itemMakat}}</td>
    <td>{{i.itemCount}}</td>

    <td *ngIf="currentUser.squadron!='store1'">
      <input type="number" [value]="i.itemCount" min="0" required *ngIf="i.itemCount==0">
    </td>

    <td *ngIf="currentUser.squadron!='store1'">
      <button>X</button>
    </td>

  </tr>

</table>

<br>
<div class="moveRight" *ngIf="currentUser.squadron=='store1'">

  <p>תאריך איסוף</p>
  <input type="date">

  <p>תאריך החזרה</p>
  <input type="date">

  <p>הערות</p>
  <textarea class="comments" type="text"></textarea>
</div>

<!--<br>-->
<input class="moveRight" type="submit" value="Submit" ><!--(click)="createNewRequest()">-->
