<div class="container">
  <div class="row">
<nav class="navbar" dir="rtl">
  <p>חיפוש לפי טייסת וסטטוס</p>
  <input class="form-control" type="text" name="search" [(ngModel)]="filter">
  <p>*לחץ על הכותרות על מנת למיין לפי סדר עולה ויורד</p>
</nav>
<table class="table" *ngIf="checkSessionActiveForSession()">
<thead>
  <tr>
    <th >הגב</th>
    <th (click)="sort('status')">סטטוס
    </th>
    <th (click)="sort('fromSquadron')">מאיזו טייסת
    </th>
    <th (click)="sort('fDate')">
      מתאריך</th>
    <th (click)="sort('tDate')">
      עד תאריך</th>
    <th>הערות המבקש</th>
    <th >מוצרים
    </th>
    <th>הערות נותן השירות</th>
  </tr>
</thead>
  <tbody>
  <tr *ngFor="let i of requestsFromMe  | orderBy: key : reverse| filter:filter| paginate: { itemsPerPage: 10, currentPage: p };">

    <td>
      <button [disabled]="!checkStatus(i)" (click)="approveOrDecline(i, 'APPROVED')">אשר</button>
      <button [disabled]="!checkStatus(i)" (click)="approveOrDecline(i, 'DECLINED')">דחה</button>
    </td>

    <td>{{i.status}}</td>
    <td>{{i.fromSquadron}}</td>
    <td>{{i.fDate|date:'medium'}}</td>
    <td>{{i.tDate|date:'medium'}}</td>
    <td>{{i.comments}}</td>
    <td>{{i.item|items}}</td>
    <td>
      <input class="comments" type="text" value="{{i.requestRespond}}" (input)="commentRespondModule = $event.target.value" [disabled]="!checkStatus(i)">
    </td>

  </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</table>
  </div>
</div>

