<div class="sideNav">
  <title-bar class="topImage"></title-bar>
  <button type="button" class="menuButton">תפריט</button>

  <button type="button" class="button tooltip">בחר חנות פרחים
    <span class="tooltiptext">
      <tooltip-options></tooltip-options>
    </span>
  </button>

  <button type="button" class="button">הוספת מוצרים חדשים</button>
  <button type="button" class="button">ההזמנות שביצעתי</button>
  <button type="button" class="button">הזמנות ממני</button>
  <button type="button" class="button">התחברות</button>
  <!--<button type="button" class="button spreadOnPage"></button>-->
</div>


