<div class="sideNav">
  <title-bar class="topImage"></title-bar>
  <button type="button" class="menuButton">תפריט</button>

  <button type="button" class="button tooltip">בחר חנות פרחים
    <span class="tooltiptext">
      <tooltip-options></tooltip-options>
    </span>
  </button>

  <button type="button" class="button" routerLink="addNewItem" [disabled]="!this.checkSessionActivated()">הוספת מוצרים חדשים
  </button>
  <button type="button" class="button" routerLink="toOthersRequest" [disabled]="!this.checkSessionActivated()">ההזמנות שביצעתי</button>
  <button type="button" class="button" routerLink="fromOthersRequest" [disabled]="!this.checkSessionActivated()">הזמנות ממני</button>
  <button type="button" class="button" routerLink="login">התחברות</button>
</div>


